USE [master]
GO
/****** Object:  Database [EastAsiaUOfT]    Script Date: 3/25/2025 10:04:23 AM ******/
CREATE DATABASE [EastAsiaUOfT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EastAsiaUOfT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EastAsiaUOfT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EastAsiaUOfT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EastAsiaUOfT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EastAsiaUOfT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EastAsiaUOfT]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[RoleGroupId] [int] NOT NULL,
	[StudentId] [int] NULL,
	[LecturerId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Account__3214EC074F5D5C45] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Account__536C85E4F81D9A31] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[FacultyId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Class__3214EC078B23491F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassShiftId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[StartDay] [date] NULL,
	[EndDay] [date] NULL,
 CONSTRAINT [PK__ClassSch__3214EC07BE111558] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Class] UNIQUE NONCLUSTERED 
(
	[ClassShiftId] ASC,
	[DayOfWeek] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Room] UNIQUE NONCLUSTERED 
(
	[ClassShiftId] ASC,
	[DayOfWeek] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teacher] UNIQUE NONCLUSTERED 
(
	[ClassShiftId] ASC,
	[DayOfWeek] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassShift]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassShift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreateDay] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[LecturerId] [int] NULL,
	[Semester] [int] NOT NULL,
	[SchoolYear] [int] NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Course__3214EC07372680A6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[CourseId] [int] NULL,
	[Score] [float] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Enrollme__3214EC0715E2B83C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](100) NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Faculty__3214EC078EC48E7C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[FacultyId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Cccd] [nvarchar](13) NULL,
	[Address] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
	[LecturerCode] [nvarchar](20) NULL,
 CONSTRAINT [PK__Lecturer__3214EC07A43C83A4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Lecturer__A9D105346CE22659] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LecturerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participation]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participation](
	[StudentId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[ConductScore] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Particip__369A61E094E2C000] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleGroup]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRoleGroup] [nvarchar](max) NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_RoleGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleInRoleGroup]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleInRoleGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[RoleGroupId] [int] NOT NULL,
 CONSTRAINT [PK_RoleInRoleGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Building] [nvarchar](50) NULL,
	[Floor] [nvarchar](50) NULL,
	[Vacuity] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreateDay] [datetime] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[ClassId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CCCD] [nvarchar](13) NOT NULL,
	[StudentCode] [nvarchar](20) NULL,
 CONSTRAINT [PK__Student__3214EC077783B928] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Student__A9D10534E0C6A5FE] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentActivity]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentActivity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](255) NOT NULL,
	[EventDate] [date] NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__StudentA__3214EC070CA2CAC0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 3/25/2025 10:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[Credit] [int] NOT NULL,
	[FacultyId] [int] NULL,
	[CreateDay] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Subject__3214EC0729CA485C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__CreateD__74AE54BC]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__Status__75A278F5]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF__Class__CreateDay__4316F928]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF__Class__Status__440B1D61]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ClassSchedule] ADD  CONSTRAINT [DF__ClassSche__Creat__4E1E9780]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[ClassSchedule] ADD  CONSTRAINT [DF__ClassSche__Statu__4F12BBB9]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ClassShift] ADD  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[ClassShift] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__CreateDa__59063A47]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__Status__59FA5E80]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Score__5FB337D6]  DEFAULT (NULL) FOR [Score]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Creat__60A75C0F]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Statu__619B8048]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Faculty] ADD  CONSTRAINT [DF__Faculty__CreateD__3E52440B]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Faculty] ADD  CONSTRAINT [DF__Faculty__Status__3F466844]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Lecturer] ADD  CONSTRAINT [DF__Lecturer__Create__4E88ABD4]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Lecturer] ADD  CONSTRAINT [DF__Lecturer__Status__4F7CD00D]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Participation] ADD  CONSTRAINT [DF__Participa__Creat__6B24EA82]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Participation] ADD  CONSTRAINT [DF__Participa__Statu__6C190EBB]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CreateDay]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RoleGroup] ADD  CONSTRAINT [DF_RoleGroup_CreateDay]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[RoleGroup] ADD  CONSTRAINT [DF_RoleGroup_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [DF_Room_Vacuity]  DEFAULT ((1)) FOR [Vacuity]
GO
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [DF_Room_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [DF_Room_CreateDay]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Student__CreateD__48CFD27E]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Student__Status__49C3F6B7]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StudentActivity] ADD  CONSTRAINT [DF__StudentAc__Creat__6477ECF3]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[StudentActivity] ADD  CONSTRAINT [DF__StudentAc__Statu__656C112C]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF__Subject__CreateD__534D60F1]  DEFAULT (getdate()) FOR [CreateDay]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF__Subject__Status__5441852A]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__Lecture__73BA3083] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturer] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__Lecture__73BA3083]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__Student__72C60C4A] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__Student__72C60C4A]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_RoleGroup] FOREIGN KEY([RoleGroupId])
REFERENCES [dbo].[RoleGroup] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_RoleGroup]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK__Class__FacultyId__4222D4EF] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK__Class__FacultyId__4222D4EF]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedule_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [FK_ClassSchedule_Class]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedule_ClassShift] FOREIGN KEY([ClassShiftId])
REFERENCES [dbo].[ClassShift] ([Id])
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [FK_ClassSchedule_ClassShift]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedule_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [FK_ClassSchedule_Course]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedule_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [FK_ClassSchedule_Room]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__Lecturer__5812160E] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturer] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__Lecturer__5812160E]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__SubjectI__571DF1D5] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__SubjectI__571DF1D5]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Cours__5DCAEF64] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Cours__5DCAEF64]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Stude__5CD6CB2B] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Stude__5CD6CB2B]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [FK__Lecturer__Facult__4D94879B] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [FK__Lecturer__Facult__4D94879B]
GO
ALTER TABLE [dbo].[Participation]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Activ__693CA210] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[StudentActivity] ([Id])
GO
ALTER TABLE [dbo].[Participation] CHECK CONSTRAINT [FK__Participa__Activ__693CA210]
GO
ALTER TABLE [dbo].[Participation]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Stude__68487DD7] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Participation] CHECK CONSTRAINT [FK__Participa__Stude__68487DD7]
GO
ALTER TABLE [dbo].[RoleInRoleGroup]  WITH CHECK ADD  CONSTRAINT [FK_RoleInRoleGroup_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleInRoleGroup] CHECK CONSTRAINT [FK_RoleInRoleGroup_Role]
GO
ALTER TABLE [dbo].[RoleInRoleGroup]  WITH CHECK ADD  CONSTRAINT [FK_RoleInRoleGroup_RoleGroup] FOREIGN KEY([RoleGroupId])
REFERENCES [dbo].[RoleGroup] ([Id])
GO
ALTER TABLE [dbo].[RoleInRoleGroup] CHECK CONSTRAINT [FK_RoleInRoleGroup_RoleGroup]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__ClassId__47DBAE45] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__ClassId__47DBAE45]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Subject__Faculty__52593CB8] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Subject__Faculty__52593CB8]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [CK__ClassSche__DayOf__4D2A7347] CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(7)))
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [CK__ClassSche__DayOf__4D2A7347]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [CK__Enrollmen__Score__5EBF139D] CHECK  (([Score]>=(0) AND [Score]<=(10)))
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [CK__Enrollmen__Score__5EBF139D]
GO
ALTER TABLE [dbo].[Participation]  WITH CHECK ADD  CONSTRAINT [CK__Participa__Condu__6A30C649] CHECK  (([ConductScore]>=(0) AND [ConductScore]<=(100)))
GO
ALTER TABLE [dbo].[Participation] CHECK CONSTRAINT [CK__Participa__Condu__6A30C649]
GO
USE [master]
GO
