/* _content/WebUniversity/Areas/Admin/Views/Shared/_Layoutadmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web ~/admin/assets. */

a.navbar-brand[b-ff0beoppbm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ff0beoppbm] {
  color: #0077cc;
}

.btn-primary[b-ff0beoppbm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ff0beoppbm], .nav-pills .show > .nav-link[b-ff0beoppbm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ff0beoppbm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ff0beoppbm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ff0beoppbm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ff0beoppbm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ff0beoppbm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebUniversity/Areas/Lecturer/View/Shared/_Layoutadmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web ~/admin/assets. */

a.navbar-brand[b-z3cqjix1gx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z3cqjix1gx] {
  color: #0077cc;
}

.btn-primary[b-z3cqjix1gx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z3cqjix1gx], .nav-pills .show > .nav-link[b-z3cqjix1gx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z3cqjix1gx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z3cqjix1gx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z3cqjix1gx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z3cqjix1gx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z3cqjix1gx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebUniversity/Areas/Student/Views/Shared/_Layoutadmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web ~/admin/assets. */

a.navbar-brand[b-2dzepqnvw8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2dzepqnvw8] {
  color: #0077cc;
}

.btn-primary[b-2dzepqnvw8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2dzepqnvw8], .nav-pills .show > .nav-link[b-2dzepqnvw8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2dzepqnvw8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2dzepqnvw8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2dzepqnvw8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2dzepqnvw8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2dzepqnvw8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebUniversity/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web ~/admin/assets. */

a.navbar-brand[b-71b1oi5gq6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-71b1oi5gq6] {
  color: #0077cc;
}

.btn-primary[b-71b1oi5gq6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-71b1oi5gq6], .nav-pills .show > .nav-link[b-71b1oi5gq6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-71b1oi5gq6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-71b1oi5gq6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-71b1oi5gq6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-71b1oi5gq6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-71b1oi5gq6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
